#contenedor-padre {
    border-style: solid;
    border-width: 1.5px;
    border-radius: 3px;
}

#contenedor-padre:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#contenedor-hijo-1 img {
    width: 100%;
}

#contenedor-hijo-2 {
    padding: 15px;
}

p {
    text-align: justify;
}

#button {
    border-radius: 5px;
}


